.chat {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 300px;
  height: 400px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  z-index: 100;
  transition: all 0.3s ease-in-out;
}

.chat-header {
  display: flex;
  justify-content: flex-end;
}

.close-button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #333;
}

.chat-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 300px;
  overflow-y: auto;
}

.messages {
  overflow-y: auto;
  flex: 1;
  margin-bottom: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.typing {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
  position: relative;
  max-width: 150px;
}

.user-message {
  align-self: flex-end;
  background-color: white;
  color: black;
  text-align: right;
  width: fit-content;
}

.chat-message {
  align-self: flex-start;
  background-color: #dcf8c6;
  text-align: left;
  width: fit-content;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 180px;
  overflow-y: auto;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.chat-icon {
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 24px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: background-color, 0.3s;
} 

.chat-icon:hover{
  background-color: #3e8e41;
}

button {
  margin: 5px 0;
  padding: 10px;
  cursor: pointer;
}

.input-container button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color, 0.3s;
}

.input-container button:hover {
  background-color: #3e8e41;
}
